<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Stone, paper, scissors, lizard, Spock | Game
    </title>
    <link rel="stylesheet" type="text/css" href="./css/game.css">
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="./js/game.js"></script>
</head>
    <body>
        <script type="text/template" id="game_option_tmpl">
            <div class="game_button" data-button-id="<%= id %>">
                <img src="./images/<%= option %>.png" class="game_option"  alt="<%= option %>" title="<%= option %>" />
            </div>
        </script>
        <div class="result_screen" id="tie_screen">
                <p class="result_text">
                    Tie!
                </p>
            </div>
        <div class="result_screen" id="win_screen">
            <p class="result_text"> You win! </p>
            <p class="result_text" id="result_win_score"></p>
        </div>
        <div class="result_screen" id="lost_screen">
            <p class="result_text"> You lost! </p>
            <p class="result_text" id="result_lost_score"></p>
        </div>
        <div class="container">
                <header>
                    <h1>
                        Stone, paper, scissors, lizard, Spock.
                    </h1>
                </header>
                <section>
                    <article class="scorer_container">
                        <div class="scorer scorer_player" >
                            <p id="scorer_player">
                                0
                            </p>
                            <div class="score_character">
                                <img src="./images/blank.png" id="scorer_player_img"  class="game_character"  alt="" title="" />
                            </div>
                        </div>

                        <div class="scorer scorer_player" >
                            <p id="scorer_machine">
                                0
                            </p>
                            <div class="score_character">
                                <img src="./images/blank.png"  id="scorer_machine_img" class="game_character"  alt="" title="" />
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="game_buttons_container"></div>
                    </article>
                </section>
            </div>
        <script type="text/javascript">
            game.init();
        </script>
    </body>
</html>
